@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h3 class="display-4">YÖNETİM SAYFASI</h3>

</div>

<nav class="navbar navbar-expand-lg navbar-dark b" style="background-color: #e3f2fd;">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Talepler
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Request" asp-action="RequestList"><i class="fa-solid fa-list"></i> Bütün Müşteri Talepleri</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Request" asp-action="RequestNewList"><i class="fa-solid fa-plus"></i> Yeni Açılan Talepler</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Request" asp-action="RequestContinueList"><i class="fa-solid fa-up-right-from-square"></i> Değerlendirmede olan Talepler</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Request" asp-action="RequestCompletedList"><i class="fa-solid fa-check"></i> Kapanan Talepler</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="GetAllCustomer"><i class="fa-regular fa-notebook"></i> Müşteriler</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Müşteri Temsilcileri
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="GetAllCustomerRep"><i class="fa-solid fa-list"></i> Müşteri Temsilcileri</a>
                    </li>   
                    <li>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="CreateCustomerRep"><i class="fa-solid fa-plus"></i> Müşteri Temsilcileri Kayıt</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Raporlar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="GetReport"><i class="fa-regular fa-notebook"></i> Raporlar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="GetReportByDate"><i class="fa-regular fa-notebook"></i>Tarih Aralıklı Raporlar</a>
                    </li>
                </ul>
            </li>

           

        </ul>
    </div>
</nav>