html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*ProfileCust ve ProfileCustRep sayfasýndaki*/
.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.dropdown-item {
    font-size: 1.1em;  
    color: black;
}



